h1{
    background-color: yellow;
}
p{
    background-color: aqua;
}
a{
    background-color: azure;
}
div{
    background-color: beige;
}
span{
    background-color: rgb(141, 141, 214);
   
}
input{
    background-color: aqua;
}
label{
    background-color: blueviolet;
}